  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




  .title {
    font-family: 'Montserrat';
    color: black;
    display: block;
  }


  .addContainer>div {


    margin-top: 30px;
  }

  .addNum {

    display: flex;
    justify-content: space-between;
    width: 250px;

    select {
      float: right !important;
      border: none;
      background-color: white;
      margin-bottom: 15px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  textarea:focus,
  input:focus,
  select:focus {
    outline: none;
  }

  input:checked {
    color: #2fbded;
    background-color: #2fbded;
  }

  .checkWrapper {

    // display: flex;

    .check {
      display: flex;
      margin-top: 0;
      width: 200px;
      justify-content: space-between;



      input {

        margin-left: 20px;
      }

    }
  }

/*Style input file*/
.custom-file-input-edit {
  color: transparent;
}
.custom-file-input-edit::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-edit::before {
  content: 'Select images of your properties';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input-edit:hover::before {
  border-color: black;
}
.custom-file-input-edit:active {
  outline: 0;
}
.custom-file-input-edit:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}