.info-results-container {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-bottom:20px;

    width:83%;
    .events-container {
        display: flex;
     //   margin-right: 110px;
  
        flex-direction: row-reverse;
       
      

        div {
            svg, span {
                color: #24C5EF;
                cursor: pointer;
            }

            margin-left:40px;
            display:block;
            float:right;
            
        }
    }
}