.edit-card-container {
    background-color: aqua;
    width: 60%;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    margin-left: 200px;
    display:flex;
    flex-direction: column;

    div {
        display: flex;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;

    form {
        display: flex;
        flex-direction: column;
        width: 80%;

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 25px;
            margin-bottom: 15px;

            label {
                svg {
                    margin-right: 5px;
                }
            }

            input {
                width: 100%;
            }
        }
    }
}

.map-container {
    height: 350px;
    width: 350px;
    background-color: black;
}