.props-container {
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: -4%;
    width: 85%;
    min-height: 50px;
    margin-left: 110px;
    /*margin-top: 200px; // temp*/
    display: flex;
    color: #758691c4;
    text-align: none;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.11);
    border-radius: 6px;

    .props-left {

        display: flex;
        flex-direction: row;

        img {

            border-radius: 5px;
        }

        .address {
            display: flex;
            flex-direction: column;
            margin-top: 25px;

            .street {
                font-weight: 600;
                color: #032336;
                line-height: 19px;
            }
        }
    }


    .prop-item {
        text-align: left;
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin: 10px;
        position: relative;

        * {
            margin: 5px;
        }

        .title {
            float: left !important;
            margin-bottom: 13px;

        }

        .icon-margin {
            margin: auto;
            margin-top: 25px;

        }

        .price {
            margin-top: 27px;
            font-weight: 400px;
            color: #FC9543;
            line-height: 19px;

        }

        .characteristics {
            display: flex;
            margin-top: 25px;

            * {
                margin-right: 5px;
            }
        }

        .changeStatusColor {
            color: red;
            font-weight: bold;
            margin-top: 25px !important;
        }

        .remove-item,
        .edit-item {

            cursor: pointer;
            /*margin-right: 50px !important;*/
        }

    }


}

.edit-remove {
    display:flex;
}