.form-container {
    display: flex;

    // flex-direction: column;
    form {
        display: flex;
        flex-direction: column;
        min-width: 50%;

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 25px;
            margin-bottom: 15px;

            label {
                svg {
                    margin-right: 5px;
                }
            }

            input {
                width: 100%;
            }
        }
    }
}

.map-container {
    margin-top: 30px;
    height: 379px;
    width: 379px;
    margin-left: 50px;
    background-color: black;
}



.modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
}