.filter-container {
    font-size: 15px;
    line-height: 18.9px;
    width: 85%;
    min-height: 50px;
    margin: auto;
    display: flex;
    text-align: none;
    justify-content: space-between;
    box-shadow: 1px 2px 1px #7586915e;
    color: #758691c4;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.300);
    border-radius: 6px;
    padding: 15px;

    button {
        outline-style: none;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid #758691c4;
        border-radius: 4px;
        padding: 10px 5px;
        color: #758691c4;
        margin-right: 10px;
        cursor: pointer;
    }

    .buttonClick {
        background-color: #2fbded;
        border: none;
        color: black;
        font-weight: 600;
        box-shadow: 1px 2px 1px #7586915e;
    }

    .nums {
        padding: 10px 10px;
    }

    select {
        color: #758691c4;
    }

    textarea:focus,
    input:focus,
    select:focus {
        outline: none;

    }

    input:checked {
        color: #2fbded;
        background-color: #2fbded;
    }

    .filter-block {
        display: flex;
        flex-direction: column;
        margin: 10px;
        text-align: left;

        .filter-item {
            display: flex;

            >div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-top: 5px;
                margin-bottom: 20px;

                >div {
                    margin-left: 10px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    display: flex;
                }
            }
        }

        .filter-type {

            .price-min,
            .price-max {
                margin-top: 10px;
                display: inline-block;
                outline-style: none;
                background-color: white;
                box-sizing: border-box;
                border: 1px solid #758691c4;
                border-radius: 4px;
                padding: 5px 25px;
                font-weight: 700;
                font-size: 14px;
                line-height: 118.1%;
                min-width: 130px;
                letter-spacing: -0.02em;
                color: #000000 !important;
            }

            .hypen {

                color: #000000 !important;
                margin: 0 10px;
                font-weight: 700;

            }

            .filter-rooms {

                margin-top: 10px;
                margin-bottom: 35px;
            }

            .title {
                color: black;
                display: block;
            }

            select {
                margin-top: -5px;
                margin-bottom: 50px;
                border: .5px solid #7586915e;
                padding: 5px;
                background-color: #FFFFFF;
                border-radius: 5px;
            }

            .filter-block {
                display: flex;
                flex-direction: column;
            }

        }

    }
}