.header-container {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-container {
    width: 40%;
    /*margin-top: 25px;*/
    display: flex;
    justify-content: center;
   input {
        padding: 7px;
        font-size: 14px;
        border: 1px solid grey;
        float: left;
        width: 35%;
        background: #F2F2F6;
   }

   svg {
        float: left;
        width: 2%;
        padding: 6px;
        background: #FC9543;
        color: white;
        font-size: 18px;
        border: 1px solid grey;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
   }
}

.login-issues-container {
    display: flex;
    width: 20%;
    justify-content: space-evenly;


}

.notification-icon-container {
    svg {
        font-size: 1.4rem;
        color: #06BDED;
    }

    span {
        height: 14px;
        width: 14px;
        background-color: #FC9543;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: -12px;
        top: 3px;
        font-size: x-small;
    }
}

.photo-login-container {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
}